@model StudentHelper.Models.Test

@if (Model != null)
{
    using (Html.BeginForm("SubmitTest", "Test", FormMethod.Post))
    {
        <text>Тест: </text>
        @Html.DisplayFor(m => m.Title)
        @Html.HiddenFor(m => m.Id)

        <div>
            <ul>
                @for (var i = 0; i < Model.Questions.Count; i++)
                {
                    @Html.Partial("_Question", new { index = i, question = Model.Questions[i] })
                }
            </ul>
        </div>
        <input type="submit" value=Провери/>
    }
}